# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ConstructionOfAnUnbiasedRandomSequence.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\user\Documents\MyProjects\bitbucket\study\The 4th course\Crypto\ConstructionOfAnUnbiasedRandomSequence\.idea\.idea.ConstructionOfAnUnbiasedRandomSequence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
